<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- build:css({app,.tmp}) css/main.css -->
    <link rel="stylesheet" href="bower_components/skeleton-css/css/normalize.css">
    <link rel="stylesheet" href="bower_components/skeleton-css/css/skeleton.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
  </head>
  <body>

    <header class="header">
      <ul class="header__list row">
        <li class="header__item"><a class="header__link" href="#about">about</a></li>
        <li class="header__item"><a class="header__link" href="#skills">skills</a></li>
        <li class="header__item"><a class="header__link" href="#letstalk">let's talk</a></li>
      </ul>
    </header>

    <div class="hamburger">
      <span class="hamburger__menu icon-menu"></span>
      <span class="hamburger__cross icon-cross"></span>
    </div>

    <div class="container">
      <div class="row">
        {{ content }}
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="four columns"><a href="mailto:pierrelucnichols@gmail.com">Pierre Luc Nichols</a> &copy; 2015</div>
        <div class="four columns social">
          <a class="social__icon social__icon--linkedin" href="https://uk.linkedin.com/in/pierrelucnichols" title="LinkedIn"></a>
          <a class="social__icon social__icon--github" href="https://github.com/plnichols/" title="Github"></a>
          <a class="social__icon social__icon--twitter" href="https://twitter.com/pierrelnichols" title="Twitter"></a>
        </div>
        <div class="four columns"><a href="/_pdf/cv_pierreluc_nichols.pdf" target="_blank">download my resume</a></div>
        
      </div>
    </footer>

    <!-- build:js(app) js/scripts.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
