/*

Styles

*/


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;  // allow components to change box layout
}

body {
    background-color: $background-color;
    color: #ddd;
}

.container {
    max-width: 1200px;
    @include media-query($mq-xsmall){
        width: 90%;
    }
    @include media-query($mq-small){
        width: 90%;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    color: #fff;
}

h1 {
    font-size: 14em;
    font-size: 16vw;
}

h2 {
    font-size: 8em;
    font-size: 8.5vw;
}

h3 {
    font-size: 5em;
    font-size: 6vw;
}

h4 {
    font-size: 2.5em;
    font-size: 3vw;
}

h5 {
    font-size: 2em;
}

h5 {
    font-size: 1.6em;
}

a {
    transition: color 0.1s ease-in;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.button-primary {
        transition: background-color 0.1s ease-in, border-color 0.1s ease-in;
        background-color: $brand-color;
        border-color: $brand-color;
        &:hover,
        &:focus {
          background-color: darken($brand-color, 5%);
          border-color: darken($brand-color, 3%);
        }
    }
}
