/*

Variables

*/


// Base
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$spacing-unit: 30px;

// Animation
$fast-in: cubic-bezier(0.4, 0, 0.2, 1);

// Colors
$text-color: #eee;
$background-color: #666;
$brand-color: #00A1D6;

// Width of the content area
$content-width: 1200px;

// Media queries
$mq-xsmall: 400px; /* Larger than mobile */
$mq-small: 550px; /* Larger than phablet (also point when grid becomes active) */
$mq-medium: 750px; /* Larger than tablet */
$mq-large: 1000px; /* Larger than desktop */
$mq-xlarge: 1200px; /* Larger than Desktop HD */

