@import '../../styles/_breakpoints';

.layout {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 912px;
  min-height: 100vh;

  @media (min-width: $breakpoint-small) {
    padding: 0 40px;
  }

  @media (min-width: $breakpoint-medium) {
    padding: 0;
  }
}
