@import '../../styles/_breakpoints';
@import '../../styles/_colors';

.ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $breakpoint-xsmall) {
    justify-content: flex-end;
  }
}

.li {
  flex: 0;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  padding: 10px;
  fill: $primary-l500;

  &:hover {
    fill: $primary-l200;
  }
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  fill: inherit;
}
