/*

Social

*/


.social {
    margin: 20px 0;
    text-align: center;
}

.social__icon {
    font-size: 26px;
    display: inline-block;
    padding: 8px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    height: auto;
    @extend .icon-extend;
    @extend .button;
    @extend .button-primary;

    &.social__icon--linkedin {
        @extend .icon-linkedin;
    }
    &.social__icon--github {
        @extend .icon-github;
    }
    &.social__icon--twitter {
        @extend .icon-twitter;
    }
}


