@import '../../styles/_breakpoints';
@import '../../styles/_colors';

.ul {
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-xsmall) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.li {
  display: flex;
  margin: 0 0 60px 0;
  padding: 0;

  @media (min-width: $breakpoint-xsmall) {
    flex: 1 0 auto;
    max-width: 45%;
  }
}

.icon {
  margin: 0;
  padding: 0;
  font-size: 64px;
  fill: $primary-l500;
}

.info {
  flex: 1;
  margin-left: 20px;
  color: $text;
}

.name {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1;
}

.description {
  margin: 0.5em 0 0.25em 0;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.5;
}

.progress {
  width: 100%;
  height: 8px;
  margin-top: 13px;
  color: $primary-base;
  appearance: none;
  border: none;
  border-radius: 3px;
  background-color: lighten($primary-base, 2.5%);

  &::-webkit-progress-bar {
    border-radius: 3px;
    background: 0 0;
  }

  &::-webkit-progress-value {
    position: relative;
    border-radius: 3px;
    background: linear-gradient(to right, $primary-l500, $primary-l100);
  }

  &::-moz-progress-bar {
    border-radius: 3px;
    background: linear-gradient(to right, $primary-l500, $primary-l100);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}
