/*

Footer

*/


.footer {
    font-size: 12px;
    margin: 100px 0 0 0;
    padding: 30px;
    color: #999;
    text-align: center;
    background-color: #555;
    @extend .clearfix;
    @include media-query($mq-small) {
        display: flex;
        align-items: center;
    }
}

.footer__info {
    a {
        color: inherit;
        &:focus,
        &:hover {
            color: #aaa;
        }
    }
    @include media-query($mq-small) {
        width: 50%;
        float: left;
        text-align: left;
    }
}

.footer__social {
    @include media-query($mq-small) {
        width: 50%;
        float: right;
    }
}

