/*

Hamburger

*/


.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 52px;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    @include media-query($mq-medium) {
        display: none;
    }
}

.hamburger__menu,
.hamburger__cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50% 0;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.4s $fast-in;
}

.hamburger__menu {
    .hamburger--active & {
        font-size: 0;
        transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }
}

.hamburger__cross {
    font-size: 0;
    .hamburger--active & {
        font-size: 26px;
        transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }
}

