/*

Menu

*/


.menu {
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    text-align: center;
    margin: 0 0 80px 0;
}

.menu__item {
    font-size: 12px;
    display: inline-block;
    position: relative;
    margin: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: #bbb;
    color: rgba(255, 255, 255, 0.5);
    border-top: 3px solid transparent;
    transition: border 0.15s ease-in 0.06s, color 0.2s ease-in;
    &:last-child {
        border-right: 0;
    }
    &:hover,
    &:focus {
        border-top-color: #fff;
        color: #fff;
        .menu__link {
            transform: translateY(1px);
        }
    }
}

.menu__link {
    display: inline-block;
    margin: 0;
    padding: 12px 70px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    transition: transform 0.2s ease-in;
    &:hover,
    &:focus {
        color: inherit;
    }
}


