/*

Styles

*/


html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;  // allow components to change box layout
}

body {
    background-color: $background-color;
    margin-top: 30%;
    transition: margin-top 0.5s;
    @include media-query($mq-xsmall){
        margin-top: 25%;
    }
    @include media-query($mq-small){
        margin-top: 20%;
    }
    @include media-query($mq-medium){
        margin-top: 16%;
    }
    @include media-query($mq-large){
        margin-top: 12%;
    }
    @include media-query($mq-xlarge){
        margin-top: 8%;
    }
}

.container {
    max-width: 1200px;
    @include media-query($mq-xsmall){
        width: 95%;
    }
    @include media-query($mq-small){
        width: 90%;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    color: #fff;
}

h1 {
    font-size: 14em;
    font-size: 16vw;
}

h2 {
    font-size: 8em;
    font-size: 8.5vw;
}

h3 {
    font-size: 5em;
    font-size: 6vw;
}

h4 {
    font-size: 2.5em;
    font-size: 3vw;
}

h5 {
    font-size: 2em;
}

h5 {
    font-size: 1.6em;
}

a {
    transition: color 0.1s ease-in;
}