/*

Variables

*/


// Base
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$spacing-unit: 30px;

// Colors
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;

// Width of the content area
$content-width: 1200px;

// Media queries
$on-palm: 600px;
$on-laptop: 800px;

